@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Poppins:wght@500&display=swap');

.jumbotron {
  background-image: url(../img/landing.jpg) !important;
  /*background-color: black;*/
  background-size: cover;
  height: 760px;
  text-align: center;
  margin-top: -120px;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 200px;
}

.jumbotron p {
  color: white;
  font-size: 25px;
}


.font1 {
  font-family: Rockwell;
}

.font2 {
  font-family: Comic Sans MS;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  margin-right: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

}

header.sticky {
  background: #603601;
  padding: 10px 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo {
  color: #fff;
}

header .logo span {
  color: #4180CB;
}

header .navigation {
  position: relative;
  display: flex;

}

header .navigation li {
  list-style: none;
  margin-left: 30px;
  margin-top: 15px;

}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;

}

header.sticky .navigation li a {
  color: #fff;

}

header .navigation li a:hover {
  color: #4180CB;
}

.header1 {
  background: #343a40;
  line-height: 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
}

span {
  color: #4180CB;
}

.span1 {
  font-family: Comic Sans MS;
  color: white;
}

.about-us-section {
  padding-top: 50px;
  margin-top: -25px;
  /*background-color: red;*/
  width: 100%;
  min-height: 60vh;
  padding: calc(55 + 30px) 0px;
}

.about-us-section .img-head {
  position: relative;
  overflow: hidden;
}

.about-us-section .img-head img {
  width: 100%;
  transition: transform .3s;
  border-radius: 10px
}

.about-us-section .img-head:hover img {
  transform: scale(1.05);
}

.about-us-section .img-head::after {
  content: "";
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right bottom, var(--#19456b), var(--16c79a));
  position: absolute;
  left: 0;
  top: 0;
  opacity: .5;
}

.about-us-section .txthead {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  color: #343a40;
}

.about-us-section .break-small {
  width: 60px;
  height: 3px;
  background-color: #343a40;
}

.about-us-section .txtpara {
  font-size: 16px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

#list h1 {
  font-weight: 900;
  font-size: 28px;
  padding-bottom: 5px;
}

.title {
  text-align: center;
  padding: 5px 0;
  color: white;
}

.title p {
  font-size: 16px;
}

.card {
  margin: 20px 10px;
  padding: 20px;
  border-radius: 15px;
}

.card-body a {
  color: #4180CB;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover {
  color: #19456b;
  text-decoration: none;
}

.menu {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #361500;
}