@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Poppins:wght@500&display=swap");
nav {
  background-color: #3e1f05;
}

* {
  font-family: "Poppins";
}

.hero-section {
  width: 100%;
  height: 764px;
  background-color: grey;
  margin-top: 55px;
  background-image: url("../img/landing.jpg");
  background-size: 100% 100%;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.6) 100%);
}

.hero-section .container {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-mau-kopi {
  width: 100%;
  margin: 0px auto;
}

.text-welcome {
  font-weight: 500;
}

.donwload-apps {
  padding: 60px 0px;
}

.app-image {
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.wrap-donwload-app {
  padding: 30px;
}

.wrap-donwload-app .h1 {
  line-height: 55px;
  font-size: 36px;
  font-family: "Poppins";
  color: #3e3e3e;
  font-weight: lighter;
}

.wrap-donwload-app h1 {
  font-family: "Poppins";
  font-size: 42px;
  margin-bottom: 30px;
}

.wrap-donwload-app img {
  width: 35%;
  cursor: pointer;
  margin-left: -5px;
  margin-top: 30px;
}

.sejarah {
  width: 100%;
  height: 1400px;
  background-color: #3e1f05;
  padding: 60px 0px;
}

.desc-sejarah p {
  font-size: 20px;
  line-height: 35px;
  font-weight: lighter;
  padding-bottom: 30px;
}

.menu {
  padding: 60px 0px;
}

.contact {
  padding: 60px 0px;
  height: 650px;
  background-color: #3e1f05;
  width: 100%;
}

.contact label {
  color: white;
}

iframe {
  width: 100%;
  height: 500px;
}

@media (max-width: 768px) {
  .text-welcome {
    font-size: 42px;
  }

  .wrap-donwload-app {
    padding: 30px 0px;
  }

  .wrap-donwload-app h1 {
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .wrap-donwload-app .h1 {
    font-size: 28px;
  }

  .wrap-donwload-app img {
    width: 80%;
    margin-top: 0px;
  }

  .sejarah {
    height: 1630px;
  }

  .titles {
    font-size: 38px !important;
  }

  .contact {
    height: 900px;
  }

  iframe {
    height: 300px;
    margin-bottom: 45px;
  }
}
